<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} | {{ site.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/images/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon/favicon.svg' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/images/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/images/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" href="{{ '/assets/images/favicon/safari-pinned-tab.svg' | relative_url }}" color="#325d89">
  <link rel="shortcut icon" href="{{ '/assets/images/favicon/favicon.ico' | relative_url }}">
  <meta name="msapplication-TileColor" content="#325d89">
  <meta name="msapplication-config" content="{{ '/assets/images/favicon/browserconfig.xml' | relative_url }}">
  <meta name="theme-color" content="#325d89">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <!-- Self host font -->
  <!-- <link rel="preload" href="{{ '/assets/fonts/playfair-display.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> -->

  <link href="{{ '/assets/css/bootstrap.min.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/main.css'         | relative_url }}" rel="stylesheet">
  
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  {% if page.meta_title %}<meta property="og:title" content="{{ page.meta_title }}"/>{% else %}<meta property="og:title" content="{{ page.title }}"/>{% endif %}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url }}"/>
  {% if page.image %}<meta property="og:image" content="{{ page.image | relative_url }}"/>{% endif %}
  {% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
  <meta name="twitter:card" content="summary"/>
<script src="https://unpkg.com/@phosphor-icons/web@2.1.1"></script>
</head>
