$palette: ( 
    fg: #3e3f3a,
    muted: #cccccc,
    accent: #325d88,
    accent-dark: #284a6d,
    accent-light: #93c54b,
    accent-secondary: #4E008E,
    alert: #a33a3a,
    confirmation: #006f62,
    yield: #d6b21f,
    warning:#d9782d,
    border: #dfd7ca,
    bg: #ffffff,
    bg-subtle: #f8f5f0,
    bg-subtle-alt: #E0DDEC,
);

$font: (
    family: (Helvetica, Arial, sans-serif, -apple-system),
    family-heading: ("Playfair Display", serif, -apple-system)
);

$size: (
    breakpoint: (
        sm: 576px,
        md: 980px,
        lg: 992px,
        xl: 1300px
    )
);

$duration: ();

$misc: (
    link-decoration: none,
    link-hover-decoration: underline
);
