
.icon-link {
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  font-weight: 700;
  text-decoration: none;
}

.icon-link:hover {
  color: _palette(accent-dark);
  text-decoration: underline;
}
