
.icon-link {
  align-items: center;
  display: inline-flex;
  gap: 0.5rem;
  text-decoration: none;
  color: _palette(accent);
}

.icon-link:hover {
  color: _palette(accent-secondary);
//  text-decoration: underline;
}

.check-icon {
  color: _palette(accent-light);
  font-size: 28px;
  
}
