---
layout: wrapper
---

{% assign promo = site.data.promo %}
{% if promo and promo.enabled %}
<div class="sale-ticker d-block d-md-none" aria-label="{{ promo.aria_label | default: 'Promotion' }}">
  <div class="sale-ticker-track">
    <span>{{ promo.text }}</span>
    <span>{{ promo.text }}</span>
  </div>
</div>
{% endif %}
{% if page.intro_variant == "about" %}
  {% include intro_about.html %}
{% else %}
  {% include intro_home.html %}
{% endif %}
{% if promo and promo.enabled %}
<div class="sale-ticker d-none d-md-block" aria-label="{{ promo.aria_label | default: 'Promotion' }}">
  <div class="sale-ticker-track">
    <span>{{ promo.text }}</span>
    <span>{{ promo.text }}</span>
  </div>
</div>
{% endif %}
{% if page.hero_text and content != blank %}
<div class="container pb-2 pt-2">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if page.info_box_title or page.info_box_content %}
<div class="container pb-2">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="call">
        <div class="call-box-top">
          {% if page.info_box_title %}
            <h2>{{ page.info_box_title }}</h2>
          {% endif %}
          {% if page.info_box_content %}
            <div class="content">
              {{ page.info_box_content | markdownify }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.main_content %}
<div class="container pb-2 pt-2">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="content">
        {{ page.main_content | markdownify }}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if page.show_highlights and site.data.highlights %}
<div class="strip strip-grey">
  <div class="container pb-2 pt-2">
    <div class="row justify-content-center">
      {% for feature in site.data.highlights %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.icon %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.icon | relative_url }}" width="80" height="80" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}
