---
layout: wrapper
---

{% include promo_ticker.html display_class="d-block d-md-none" %}

{% if page.intro_include %}
  {% include {{ page.intro_include }} %}
{% endif %}

{% include promo_ticker.html display_class="d-none d-md-block" %}

{% unless page.render_body == false %}
{% if content != blank %}
  {% include content_section.html content=content full_width=true %}
{% endif %}
{% endunless %}

{% include info_box.html %}

{% if page.main_content %}
  {% capture main_content %}{{ page.main_content | markdownify }}{% endcapture %}
  {% include content_section.html content=main_content %}
{% endif %}

{% include highlights.html %}
